In [ ]:
!pip install -U dataligo

In [1]:
from dataligo import Ligo

In [2]:
# path of config file. see the sample config for reference (https://github.com/VinishUchiha/dataligo/blob/main/sample_ligo_config.yaml)
config_path = 'path_of_ligo_config_file'

# Create ligo object
ligo = Ligo(config_path)

In [3]:
ligo

In [4]:
# Create the gcs ligo object
gcs = ligo.connect('gcs')

### Read

In [5]:
# Read a dataframe using gcs_path
df = gcs.read_as_dataframe('gs://dcx_test/folder1/data.csv')
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [6]:
# Read a dataframe using bucket and blob name
df = gcs.read_as_dataframe(bucket='dcx_test', blob_name='folder2/data.parquet')
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,1609461010000,1609461372000,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,1609462280000,1609462339000,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,1609461810000,1609463466000,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,1609460148000,1609461061000,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,1609461109000,1609462101000,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [7]:
# Read dataframe with additional pandas arguments
df = gcs.read_as_dataframe('gs://dcx_test/folder1/data.csv', pandas_args={'encoding':'latin-1','encoding_errors':'ignore'})
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

### Write

In [8]:
# Write a dataframe
gcs.write_dataframe(df, bucket='dcx_test',blob_name='test_write/data.csv')

Dataframe saved to the gcs path: gs://dcx_test/test_write/data.csv

In [10]:
# Write a dataframe with additional arguments
gcs.write_dataframe(df, bucket='dcx_test',blob_name='test_write/data.csv',index=False,sep=',')

Dataframe saved to the gcs path: gs://dcx_test/test_write/data.csv

In [13]:
# Write a dataframe in other extensions
gcs.write_dataframe(df, bucket='dcx_test',blob_name='test_write/data.parquet')
#gcs.write_dataframe(df, bucket='dcx_test',blob_name='test_write/data.xlsx')
gcs.write_dataframe(df, bucket='dcx_test',blob_name='test_write/data.json')

Dataframe saved to the gcs path: gs://dcx_test/test_write/data.parquet
Dataframe saved to the gcs path: gs://dcx_test/test_write/data.json